html, body {
    height: 110%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #F5F5DC;
}

.menubar {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    margin: 0;
    padding: 0 50px;
    background-color: #27ae60 ;
  }

.menubar .left{
    margin-right: auto;
}

.menubar li{
    padding: 10px 15px;
}

.menubar i{
    margin-right: 5px;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
  
li a:hover:not(.active) {
    background-color: #1e8449 ;
}
  
.active {
    background-color: #1e8449;
}

ul{
    list-style: none;
    padding: 0;
    margin: 10px;
}

ul li a i{
    margin-right: 5px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 18px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 700px;
    text-align: left;
    margin: 0 auto;
    font-size: 15px;
}

 a {
     text-decoration: none;
 }



img {
    width: 500px;
    padding: 0 50px;
    height: 500px;
}

.center-image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75vh;

}

.content{
    flex: 1;
    margin-bottom: 60px;
}


footer {
    background-color: #2d6a4f;
    width: 100%;
    display: flex;
    padding: 30px 0;
    justify-content: center;
    align-items: center;
}

.footer-container {
    text-align: center;
    width: 100%;
}

.footer-column {
    display: inline-block;
}

.contact_form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45vh;
}

.contact_form input,
.contact_form textarea{
    width: 300px;
    padding: 10px;
    margin: 5px 0;
}

.contact_form button{
     margin-top: 10px;
    padding: 10px 20px;
    background-color: #1e8449;
    color: white;
    border: none;
    cursor: pointer;
}

.contact_form button:hover {
    background-color: #27ae60;
}

/*een methode die bestaat voor buttons*/
.button-style {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #1e8449;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}

.button-style:hover {
    background-color: #27ae60;
}

.dropbtn {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #1e8449;
    color: white;
    width: 200px;
    text-align: center;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
}

.dropbtn:hover {
    background-color: #27ae60;
}

.dropbtn::after {
    content: "select option";
}


.file_upload button {
    background-color: #1e8449;
    color: white;
    font-size: 16px;
    width: 200px;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.file_upload button:hover {
    background-color: #27ae60;
}

.file_upload input[type="file"] {
    background-color: white;
    border: 2px solid #1e8449;
    padding: 8px;
    border-radius: 5px;
    cursor: pointer;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.file_upload {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    align-items: center;
}

.dropdown input {
    display: none;
}

#opt-speed-default:checked ~ .dropbtn::after {
    content: "Default";
}
#opt-speed-faster:checked ~ .dropbtn::after {
    content: "Faster (less accurate)";
}
#opt-speed-slower:checked ~ .dropbtn::after {
    content: "Slower (more accurate)";
}

#opt-model-jc:checked ~ .dropbtn::after {
    content: "Jukes-Cantor";
}
#opt-model-gtr:checked ~ .dropbtn::after {
    content: "Generalized time-reversible";
}
#opt-model-jtt:checked ~ .dropbtn::after {
    content: "Jones-Taylor-Thornton";
}
#opt-model-wg:checked ~ .dropbtn::after {
    content: "Whelan & Goldman";
}
#opt-model-lg:checked ~ .dropbtn::after {
    content: "Le and Gascuel";
}

#opt-names-no:checked ~ .dropbtn::after {
    content: "No";
}
#opt-names-yes:checked ~ .dropbtn::after {
    content: "Yes";
}

.dropdown {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.dropdown-content label {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: 15px;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

.dropdown-content label:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
