{% extends "base.html" %}
{% block title %}
    About
{% endblock %}
{% block content %}
    <h1>
    Everything about Treevolution:
    </h1>
    <p>
        <span class = "alinea-title"></span>
                <b><a href="https://academic.oup.com/mbe/article/26/7/1641/1128976#77798340" target="_blank"> Information Fasttree:</a></b><br><br>

            Fasttree is a software program that we use for it speed and efficiency in generating a phylogenetic tree. It takes as input an aligned nucleotide or protein sequence in FASTA or PHYLIP format. Fasttree is a special toolkit because it can handle large datasets with thousands of sequences.<br><br>
        Despite the handling of long data, fasttree quickly constructs a phylogenetic tree and outputs it in Newick-format(.nwk), which is used for visualization tools. If you want to use Fasttree, you must do that via the command line, but it must be installed on your computer. <a href="https://morgannprice.github.io/fasttree/" target="_blank"> For the install of fasttree click this sentence.</a><br><br>
            Fasttree use an approximation of maximum likelihood method (ML). This means that it constructs phylogenetic trees while maintaining a balance between computational speed and accuracy. Fasttree supports different evolutionary models, such as GTR for DNA and WAG for proteins. It can also include gamma-disturbed rate variation for better branch length estimation.<br><br>
            Although Fasttree is faster than Ml-based programs like RAxML or PhyML, it is slightly less accurate. However, Fasttree is a powerful tool to use for phylogenetic trees<br><br><br>

                <b>Information ETE toolkit:</b><br><br>
            The ETE (Eniviroment for Tree Exploration) toolkit can be used for making phylogenetic tree. The tool assist in analyzing and visualizing of making phylogenetic trees. With this tool you can make small and big trees and it will visualize in professional way.<br><br>
        <a href="https://bmcbioinformatics.biomedcentral.com/articles/10.1186/1471-2105-11-24" target="_blank">The ETE-toolkit is python-based what is a common program-language for many programmers.</a> We are using the ETE toolkit because it has extra functionalities with phylogenetic trees. Example from a functionalitie: With the ETE toolkit you can compare two different phylogenetic trees and you can see what the relatives are between the two trees who are compared.<br><br>



        </p>
{% endblock %}

{% block footer %}
        <footer>
            <div class="footer-container">
                <div class="footer-column">
                    <ul>
                        <li><a href="{{ url_for('home_pagina') }}">Home</a></li>
                        <li><a href="{{ url_for('tutorial_pagina') }}">Tutorial</a></li>
                        <li><a href="{{ url_for('tool_gebruiken') }}">Tool</a></li>
                        <li><a href="{{ url_for('contact_pagina') }}">Contact</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    {% endblock %}