<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
            {% endblock %} - Treevolution🌲
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='home_page.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='treevolution_logo.png') }}">
        <link rel="icon" type="image" href=" {{ url_for('static', filename='fylogenetische-boom.png') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css">
    </head>
    <body>
        <ul class="menubar">
            <li class="left"><a href="{{ url_for('home_pagina') }}" class="{% if request.endpoint == 'home_pagina' %}active{% endif %}"><i class="fa-solid fa-house-chimney"></i>Home</a></li>
            <div class="right">
                <ul>
                <li class="right"><a href="{{ url_for('dynamische_about_pagina') }}" class="{% if request.endpoint == 'dynamische_about_pagina' %}active{% endif %}"><i class="fa-solid fa-circle-info"></i>About</a></li>
                <li class="right"><a href="{{ url_for('tutorial_pagina') }}" class="{% if request.endpoint == 'tutorial_pagina' %}active{% endif %}"><i class="fa-solid fa-tree"></i>Tutorial</a></li>
                <li class="right"><a href="{{ url_for('tool_gebruiken') }}" class="{% if request.endpoint == 'tool_gebruiken' %}active{% endif %}"><i class="fa-solid fa-toolbox"></i>Tool</a></li>
                <li class="right"><a href="{{ url_for('contact_pagina') }}" class="{% if request.endpoint == 'contact_pagina' %}active{% endif %}"><i class="fa-solid fa-user"></i>Contact</a></li>
                </ul>
            </div>
        </ul>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    <footer>
        {% block footer %}
        {% endblock %}
    </footer>
    </body>
</html>
