<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>
            {% block title %}
            {% endblock %} - Treevolution🌲
        </title>
        <link rel="stylesheet" href="{{ url_for('static', filename='home_page.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='treevolution_logo.png') }}">
    </head>
    <body>
        <ul class="menubar">
            <li><a href="{{ url_for('home_pagina') }}">Home</a></li>
            <li><a href="{{ url_for('tutorial_pagina') }}">Tutorial</a></li>
            <li><a href="{{ url_for('dynamische_about_pagina') }}">About</a></li>
            <li><a href="{{ url_for('contact_pagina') }}">Contact</a></li>
        </ul>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
