<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="text/css" href="contactpage_toolbox.css">
        <link rel="stylesheet" href="home_page.css">
         <link rel="icon" type="image/x-icon" href="treevolution_logo.png">
        <title>Contact Form - Treevolution🌲</title>
    </head>
     <body>
        <ul class="menubar">
            <li><a href="home_page.html">Home</a></li>
            <li><a href="tutorial.page.html">Tutorial</a></li>
            <li><a href="About_page.html">About</a><li>
            <li><a href="contact_page.html">Contact</a></li>

        </ul>

        <h1>Contact Us</h1>
        <p>
            Any questions or comments? Please let us know! Fill out the form below.
        </p>



           <form class="contact_form">
             <label class="large-label" for="name">Name:</label><br>
             <input type="text" id="name" name="name">
               <br>
             <label class="large-label" for="email">Email:</label><br>
             <input type="text" id="email" name="email"><br>
             <label class="large-label" for="message">Message:</label><br>
             <textarea id="message" name="message"></textarea>
               <button name="button" id="button">Submit</button>
           </form>
     </body>



