{% extends "base.html" %}
    {% block title %}
        Contact Form
    {% endblock %}
    {% block content %}
        <link rel="stylesheet" href="{{ url_for('static', filename='home_page.css') }}">

        <h1>Contact Us</h1>

        <h2>
            Any questions or comments? Please let us know! Fill out the form below.
        </h2>

        <form class="contact_form" action="/contact" method="post">

             <label class="large-label" for="name">Name:</label><br>
             <input type="text" id="name" name="name" pattern="[A-Za-z-]{1,}" required>
               <br>
             <label class="large-label" for="email">Email:</label><br>
             <input type="email" id="email" name="email" pattern="[A-Za-z0-9-._]{1,}@[A-Za-z0-9-._]{1,}\.[a-z]{2,}" required>
                <br>
             <label class="large-label" for="message">Message:</label><br>
             <textarea id="message" name="message" required></textarea>
               <button name="button" id="button">Submit</button>
        </form>

    {% endblock %}

    {% block footer %}
        <footer>
            <div class="footer-container">
                <div class="footer-column">
                    <ul>
                        <li><a href="{{ url_for('home_pagina') }}"><i class="fa-solid fa-house-chimney"></i>Home</a></li>
                        <li><a href="{{ url_for('dynamische_about_pagina') }}"><i class="fa-solid fa-circle-info"></i>About</a></li>
                        <li><a href="{{ url_for('tool_gebruiken') }}"><i class="fa-solid fa-toolbox"></i>Tool</a></li>
                        <li><a href="{{ url_for('tutorial_pagina') }}"><i class="fa-solid fa-tree"></i>Tutorial</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    {% endblock %}



