{% extends "base.html" %}
    {% block title %}
        Contact Form
    {% endblock %}
    {% block content %}

        <h1>Contact Us</h1>

        <p>
            Any questions or comments? Please let us know! Fill out the form below.
        </p>

 <form class="contact_form" action="" method="post">

             <label class="large-label" for="name">Name:</label><br>
             <input type="text" id="name" name="name">
               <br>
             <label class="large-label" for="email">Email:</label><br>
             <input type="text" id="email" name="email"><br>
             <label class="large-label" for="message">Message:</label><br>
             <textarea id="message" name="message"></textarea>
               <button name="button" id="button">Submit</button>
           </form>
    {% endblock %}
     </body>

