{% extends "base.html" %}
{% block title %}
    Home
{% endblock %}
{% block content %}
    <h1>
        Treevolution — Easily create phylogenetic trees right from your browser!
    </h1>
    <p>
        Our website allows you to upload a pre-alligned FASTA or PHYLIP file, through which a phylogenetic tree is made.
        The settings of Fasttree, our pick for the tree generation tool, can be changed according to the preferences of the user.
        The resulting visualization can also be specified with additional parameters.
    </p>
    <div class="center-image">
        <img src="{{ url_for('static', filename='treevolution_logo.png') }}" alt="Logo van de website">
    </div>

{% endblock %}
