{% extends "base.html" %}

{% block title %}
    Tutorial
{% endblock %}

{% block content %}
    <h1>How to use the Tool page:</h1>
    <h2>Step 1, Choose your file:</h2>
    <p>1. First you need to select a file, which must be a FASTA or PHYLIP file and should include a header.<br></p>
    <h2>Step 2, Change the speed of creating a phylogenetic tree:</h2><p>
    2. You can choose the speed of creating the phylogenetic tree. The only issue with this is that the higher the speed, the less accurate the pylogenetic tree will be.<br></p>
    <h2>Step 3, Type of Fasttree model:</h2><p>
    3. Next you can choose which style of Fasttree you want to use. Each Fassttree method has his own qualities, so choose the one that you likes the most.<br></p>
    <h2>Step 4, Extended species name:</h2><p>
    4. You can decide if you want to see the entire protein or nucleotide sequence. If you want that, it will cost more time to create a phylogenetic tree.<br></p>
    <h2>Step 5, Uploading:</h2><p>
    5. Click on Upload if you fill up the steps here above.
    </p>
    
    <h2></h2>
    <p> </p>
{% endblock %}

{% block footer %}
        <footer>
            <div class="footer-container">
                <div class="footer-column">
                    <ul>
                        <li><a href="{{ url_for('home_pagina') }}"><i class="fa-solid fa-house-chimney"></i>Home</a></li>
                        <li><a href="{{ url_for('dynamische_about_pagina') }}"><i class="fa-solid fa-circle-info"></i>About</a></li>
                        <li><a href="{{ url_for('tool_gebruiken') }}"><i class="fa-solid fa-toolbox"></i>Tool</a></li>
                        <li><a href="{{ url_for('contact_pagina') }}"><i class="fa-solid fa-user"></i>Contact</a></li>
                    </ul>
                </div>
            </div>
        </footer>
    {% endblock %}